.rp-report-container-preview {
    width: 80%;
    margin: auto;
}

.rp-report-section-title {
    padding: 0px 60px;
}

.rp-report-tile {
    width: inherit;
}

.rp-tile-separator {
    margin: 0px 0px 20px;
    border: 1px solid #9e9e9e;
}

.dl-horizontal dt {
    width: 150px;
    white-space: nowrap;
}

.dl-horizontal dd {
    margin-left: 200px;
}

.iiif-widget-report {
    margin: 0 0 0 200px;
    max-width: 75%;
}

.lighter-separator {
    border: 1px dashed #ddd;
}

div.report-related-resources .rp-tile-title {
    margin-left: 120px;
}

.tify-wrapper {
    width: 75%;
    height: 750px;
    margin-bottom: 15px;
}

.rp-report-tile {
    width: 100%;
}
