.ep-toolbar {
    box-shadow: 0 0 3px 0px lightgrey;
}

.rp-report-section-title {
    padding: 0px 60px;
}

.rp-report-tile {
    width: inherit;
}

.iiif-widget-report {
    margin: 0 0 0 200px;
    max-width: 75%;
}

.lighter-separator {
    border: 1px dashed #ddd;
}

.tify-wrapper {
    width: 75%;
    height: 750px;
    margin-bottom: 15px;
}