{% load i18n %} {% load static %}

<div id="sketchfab-container">
    <iframe id="sketchfab-render-area" class="report-render-area" frameborder='0' allow='autoplay; fullscreen; xr-spatial-tracking' xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share allowfullscreen mozallowfullscreen='true' webkitallowfullscreen='true'></iframe>
    
    <!--<img id="fullscreen-button" class="fullscreen-button" src="{{ STATIC_URL }}img/icons/fullscreen_off_white.svg"/>-->
</div>

