<!-- Colors:
Data Space Blue: #213B55
Data Space Blue Lighter: #2F4867
Data Space Blue Darker: #1E2D40 -->

{% extends "main-base.htm" %}
{% load static %}
{% load template_tags %}
{% load i18n %}

{% block meta %}
<meta name="description" content="MOLAB 001 Landing Page">
<meta name="author" content="Gerry Anglada">
<meta name="keywords" content="DataSpace, dataspace, MOLAB, molab">
{% endblock %}

{% block title %}{{project_name}}{% endblock %}


{% block styles %} {% endblock %}

{% block title-navbar %}{{project_name}}{% endblock %}

{% block left-navbar %}
<ul class="navbar-nav text-center">
    {{ block.super }}
    <li class="nav-item">
      <a class="nav-link py-lg-3" href="{% url 'home' %}" role="button">
          {% trans "Home" %}
      </a>
    </li>
    <li class="nav-item dropdown d-none d-md-block">
        <a class="nav-link dropdown-toggle py-lg-3" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {% trans "Search:" %}
        </a>
        <ul class="dropdown-menu">
            <!-- <li><hr class="dropdown-divider"></li> -->
            <li>
              <a class="dropdown-item" href='{% url "search_home" %}{{all_molab_filter}}'>{% trans "All MOLAB.it" %}</a>
            </li>
        </ul>
    </li>
</ul>
{% endblock %}


{% block content %}
<div class="container pt-4" style="min-height: calc(100vh - 297px);">
  
  <div class="row">
    <div class="col-12 col-lg-7">
      <h1>{{project_name}}</h1>
    </div>
  </div>


  <div class="row mt-2 gy-3 gx-5">
    <div class="order-2 order-md-1 col-12 col-lg-7">
      <p>
          {% trans "This section is dedicated to the illuminated manuscripts investigated by MOLAB and aims to offer data, tools and digital services to the wide scientific community interested in their study, from an interdisciplinary perspective." %}
      </p>
      <p>
          <a href="https://www.e-rihs.it/laboratori-mobili" target="_blank"> {% trans "MOLAB.it" %}<a>
          {% trans "is the Italian platform of the E-RIHS research infrastructure (European Research Infrastructure for Heritage Science). The platform allows access to the techniques and portable tools of the MOLAB-CNR and CHNet-INFN mobile laboratories and offers researchers in the cultural heritage sector (art historians, archaeologists, restorers, chemists, physicists, biologists, etc.) the possibility of carrying out advanced non-invasive diagnostic projects, with in situ investigations, functional to multidisciplinary research in the sectors of knowledge, conservation and fruition of the Italian cultural heritage." %}
      </p>
      <p>
        {% trans "It offers the most innovative methodologies developed and distributed throughout the national territory, for a better interpretation, knowledge, conservation and restoration of cultural heritage." %}
    </p>

      <p class="lead"><i class="bi bi-search"></i> {% trans "You can search for:" %}</p>

      <div class="accordion" id="accordionExample">

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              {% trans "Projects" %}
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              {% comment %} <p>
                <strong>MOLAB.it is compromised by several projects.</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a pharetra tortor, ut volutpat massa.
                MOLAB.it is compromised by several projects.
              </p>

              <p class="lead">Popular searches:</p>  {% endcomment %}

              <div class="list-group mt-2">
                <a class="list-group-item d-flex justify-content-between align-items-start" href='{% url "search_home" %}{{projects_filter}}'>
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">{% trans "MOLAB.it, Studio spettroscopico di sei manoscritti della Biblioteca Augusta di Perugia" %}</div>
                    {% comment %} {% trans "Small description" %} {% endcomment %}
                  </div>
                  {% comment %} <span class="badge bg-primary rounded-pill">1</span> {% endcomment %}
                </a>
              </div>

            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              {% trans "Places" %}
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              {% comment %} <p>
                Filter by the different places we have in our database.
              </p>

              <p class="lead">{% trans "Examples you can search for:" %}</p> {% endcomment %}

              <div class="list-group mt-2">
                <a class="list-group-item d-flex justify-content-between align-items-start" >
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">{% trans "Città del Vaticano, Biblioteca Apostolica Vaticana" %}</div>
                    {% comment %} {% trans "Small description" %} {% endcomment %}
                  </div>
                  {% comment %} <span class="badge bg-primary rounded-pill">0</span> {% endcomment %}
                </a>
                <a class="list-group-item d-flex justify-content-between align-items-start" href='{% url "search_home" %}{{manuscripts_filter}}'>
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">{% trans "Perugia, Biblioteca Augusta" %}</div>
                    {% comment %} {% trans "Small description" %} {% endcomment %}
                  </div>
                  {% comment %} <span class="badge bg-primary rounded-pill">6</span> {% endcomment %}
                </a>
                <a class="list-group-item d-flex justify-content-between align-items-start" >
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">{% trans "Roma, Biblioteca Angelica" %}</div>
                    {% comment %} {% trans "Small description" %} {% endcomment %}
                  </div>
                  {% comment %} <span class="badge bg-primary rounded-pill">0</span> {% endcomment %}
                </a>
                <a class="list-group-item d-flex justify-content-between align-items-start" >
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">{% trans "Rossano, Museo Diocesano e del Codex" %}</div>
                    {% comment %} {% trans "Small description" %} {% endcomment %}
                  </div>
                  {% comment %} <span class="badge bg-primary rounded-pill">0</span> {% endcomment %}
                </a>
              </div>

            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              {% trans "Analytical Techniques" %}
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              {% comment %} <p>
                Filter by non-destructive Observations or destructive Sampling Activities.
              </p>

              <p class="lead">{% trans "Search by item:" %}</p> {% endcomment %}

              <div class="list-group mt-2">
                <a class="list-group-item d-flex justify-content-between align-items-start" href='{% url "search_home" %}{{observations_filter}}'>
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">{% trans "Observations" %}</div>
                    {% comment %} {% trans "Small description" %} {% endcomment %}
                  </div>
                  {% comment %} <span class="badge bg-primary rounded-pill">13</span> {% endcomment %}
                </a>
              </div>

              <div class="list-group mt-2">
                <a class="list-group-item d-flex justify-content-between align-items-start" href='{% url "search_home" %}{{empty_filter}}'>
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">{% trans "Sampling Activities" %}</div>
                    {% comment %} {% trans "Small description" %} {% endcomment %}
                  </div>
                  {% comment %} <span class="badge bg-primary rounded-pill">0</span> {% endcomment %}
                </a>
              </div>

            </div>
          </div>
        </div>

        <div class="accordion-item">
          <a class="accordion-header" id="headingNull" href='{% url "search_home" %}{{all_molab_filter}}'>
            <button class="btn fw-semibold" type="button">
              {% trans "All Resources" %}
            </button>
          </a>
        </div>

      </div>
    </div>
    <div class="order-1 order-md-2 col-12 col-lg-5 text-center">
      <img src="{% static 'img/molab001/molab003.jpg' %}" class="img-fluid rounded" alt="MOLAB image">
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}{% endblock %}

{% block copyright %}{{copyright_year}} {{copyright_text}}{% endblock %}
{% block version %} (v{{version}}){% endblock %}
